@tailwind base;
@tailwind components;
@tailwind utilities;

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.textTest {
	fill: white;
}

.surface,
.poly,
.path {
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	stroke: none;
}

.interior {
	fill: #000;
	stroke: none;
}

.room {
	stroke: #fff;
	stroke-width: 0.5;
	fill: none;
}

.wall,
.door,
.outline-wall {
	stroke: #fff;
	fill: #000;
	stroke-width: 0.5;
	/* fill: none; */
}

.outline-wall {
	stroke-width: 1;
}

.wall.wireframe,
.door.wireframe {
	fill: none !important;
	stroke: #333 !important;
}

.outline {
	stroke: #ffffff;
	stroke-width: 3px;
	outline-style: none;
}
